<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

   <form th:action="@{/sum1}" method="post"> 정수 5개 입력:
       <input type="number" name="num" required/>
       <input type="number" name="num" required/>
       <input type="number" name="num" required/>
       <input type="number" name="num" required/>
       <input type="number" name="num" required/>

       <button type="submit">계산</button>
   </form>


<div class=". ."></div>

</body>
</html>